<html>
    <head>
        <title>User Profiler Application</title>
    </head>
    <body>
        <form data-bind="submit: addUser">
            <div class="navar">
                <div class="navar-inner">
                    <a class="brand" href="a">User Profile App Demo</a>
                 </div>
            </div>
        <div id="main" class="container">

                <table class="table table-striped">
         Name: <input data-bind="value: name" placeholder="Full Name of user" type="text" />
                </div>
                <div>
         Username: <input data-bind="value: username" placeholder="Username" type="username"></input>
                </div>
                <div>
        email: <input data-bind="value: email" placeholder="Email id" type="email"></input>
                    </div>
                    <div>
        password <input data-bind="value: password" type="password" placeholder="Password"></input>
               </div>
               <button type="submit">Add user</button>
                </table>
        </form>

        <ul data-bind="foreach: user_list, visible: user_list().length > 0">
            <li>
                <p data-blind="text: name"></p>
                <p data-blind="text: username"></p>
                <p data-blind="text: email"></p>
                <p data-blind="text: password"></p>
            </li>
        </ul>

            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script src="http://cdnjs.cloudfare.com/ajax/libs/knockout/2.2.0/knockout-min.js>"></script>
            <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
            <!-- <script src="http://ajax.aspnetcdn/ajax/jquery/jquery-1.9.0.js"></script> -->
            <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
            <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>